.modal-body {
  padding: 15px;
}

.input-box {
  margin-bottom: 10px;
}

.alert {
  margin-top: 10px;
}

.title {
  margin-top: 1em;
  font-size: 1.1em;
}

.filter-rule-select {
  max-width: 220px;
}

.filter-rule-list {
  margin-bottom: 10px;
}